<section class="section section-lg pt-5" id="about">
    <div class="container">
        <div class="row align-items-lg-center justify-content-lg-around">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="text-lg-right mb-5">
                    <div class="icon icon-shape shadow-soft border border-light organic-radius mb-4"><span
                                class="far fa-lightbulb"></span></div>
                    <h3 class="h5 icon-box-title">Ideas and Concepts</h3>
                    <p class="icon-box-text">You can relay on our amazing features list and also our customer services
                        will be great experience.</p></div>
                <div class="text-lg-right mb-5 mb-lg-0">
                    <div class="icon icon-shape shadow-soft border border-light organic-radius mb-4"><span
                                class="far fa-sun"></span></div>
                    <h3 class="h5 icon-box-title">Highly Customizable</h3>
                    <p class="icon-box-text">You can relay on our amazing features list and also our customer services
                        will be great experience.</p></div>
            </div>
            <div class="col-md-8 col-lg-3 d-none d-lg-block">
                <div class="card bg-primary shadow-inset organic-radius border border-light my-4 p-4"><img
                            class="img-fluid organic-radius" src="/public/img/logo.png"
                            alt="abstract picture"></div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="text-lg-left mb-5">
                    <div class="icon icon-shape shadow-soft border border-light organic-radius mb-4"><span
                                class="far fa-keyboard"></span></div>
                    <h3 class="h5 icon-box-title">Powerful code</h3>
                    <p class="icon-box-text">You can relay on our amazing features list and also our customer services
                        will be great experience.</p></div>
                <div class="text-lg-left">
                    <div class="icon icon-shape shadow-soft border border-light organic-radius mb-4"><span
                                class="far fa-handshake"></span></div>
                    <h3 class="h5 icon-box-title">Built For Startups</h3>
                    <p class="icon-box-text">You can relay on our amazing features list and also our customer services
                        will be great experience.</p></div>
            </div>
        </div>
    </div>
</section>