<section class="pt-4 pb-7" id="header">
    <div class="section pt-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 text-center"><h1 class="display-2 mb-4">Go Tech Yourself</h1>
                    <p class="lead mb-5">The podcast that you didn't know you needed</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div id="Carousel1" class="carousel slide shadow-soft border border-light p-4 rounded" data-ride="carousel">
                <div class="carousel-inner rounded">
                    <div class="carousel-item active">
                        <img src="/public/assets/img/carousel/image-1.jpg" class="d-block w-100" alt="slide1"></div>
                </div>
            </div>
        </div>
    </div>
</section>