<nav class="navbar navbar-center navbar-expand-lg navbar-transparent navbar-light shadow-soft rounded navbar-theme-primary mb-5">
    <div class="container position-relative"><a class="navbar-brand mr-lg-5" href="/">
            <img class="navbar-brand-dark" src="/public/img/logo-dark.png" alt="pixel logo">
            <img class="navbar-brand-light" src="/public/img/logo-dark.png" alt="pixel logo">
        </a>
        <div class="navbar-collapse collapse" id="navbar-dark-profile">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="/">
                            <img src="/public/img/logo.png" alt="pixel logo">
                        </a>
                    </div>
                    <div class="col-6 collapse-close"><span class="fas fa-times" data-toggle="collapse" role="button"
                                                            data-target="#navbar-dark-profile"
                                                            aria-controls="navbar-dark-profile" aria-expanded="false"
                                                            aria-label="Toggle navigation"></span></div>
                </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item dropdown"><a href="#stream" class="nav-link" data-toggle="dropdown" role="button"><span
                                class="nav-link-inner-text">Stream</span></a>
                </li>
                <li class="nav-item dropdown"><a href="#about" class="nav-link" data-toggle="dropdown" role="button"><span
                                class="nav-link-inner-text">About Us</span></a>
                </li>
                <li class="nav-item dropdown mega-dropdown"><a href="#blog" class="nav-link" data-toggle="dropdown"><span
                                class="nav-link-inner-text">Blog</span></span></a>
                </li>
                <li class="nav-item dropdown"><a href="#contacts" class="nav-link" data-toggle="dropdown" role="button">
                        <span class="nav-link-inner-text">Contacts</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>